html{
  background-image: url("/wordtester/img/bimg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body{
  margin: 0px;
  font-family: "yu gothic";
}
.container{
  width: 40%;
  background-color: white;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-bottom: 30px;
  border-radius: 40px;
  border: 1px solid rgba(169,169,169);
}
.title{
  overflow: hidden;
}
.title h1{
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(169,169,169);
}
.taal1{
  float: left;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(169,169,169);
  margin-bottom: 10px;
}
.taal1 h3{
  font-weight: lighter;
  margin: 0px;
}
.taal1txt{
  width: 80%;
  margin-left: 2.5%;
  margin-top: 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(236,236,236);
  font-size: 25px;
  height: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "yu gothic";
}
.taal1txt:focus{
  outline: none;
  background-color: rgba(205,228,236);
  border: 1px solid rgba(151,188,199);
}
.taal2{
  float: right;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(169,169,169);
  margin-bottom: 10px;
}
.taal2 h3{
  font-weight: lighter;
  margin: 0px;
}
.taal2txt{
  width: 80%;
  margin-right: 2.5%;
  margin-top: 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(236,236,236);
  font-size: 25px;
  height: 30px;
  text-align: center;
  font-weight: lighter;
  font-family: "yu gothic";
}
.taal2txt:focus{
  outline: none;
  background-color: rgba(205,228,236);
  border: 1px solid rgba(151,188,199);
}
.question{
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(236,236,236);
  font-size: 25px;
  text-align: center;
  font-weight: lighter;
  font-family: "yu gothic"
}
.question:focus{
  outline: none;
  background-color: rgba(205,228,236);
  border: 1px solid rgba(151,188,199);
}
.answer{
  float: right;
  width: 40%;
  margin-right: 5%;
  margin-top: 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(236,236,236);
  font-size: 25px;
  text-align: center;
  font-weight: lighter;
  font-family: "yu gothic";
}
.answer:focus{
  outline: none;
  background-color: rgba(205,228,236);
  border: 1px solid rgba(151,188,199);
}
.btn{
  float: left;
  height: 40px;
  margin-top: 20px;
  width: 30%;
  margin-left: 15%;
  border-radius: 20px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(187,241,186,0.5);
  font-weight: lighter;
  font-family: "yu gothic";
  color: black;
  font-size: 20px;
}
.btn:focus{
  outline: none;
}
.btn:hover{
  background-color: rgba(146,227,144,0.5);
}
.btn2{
  float: right;
  height: 40px;
  margin-top: 20px;
  width: 30%;
  margin-right: 15%;
  border-radius: 20px;
  border: 1px solid rgba(169,169,169);
  background-color: rgba(243,180,190,0.5);
  font-weight: lighter;
  font-family: "yu gothic";
  color: black;
  font-size: 20px;
}
.btn2:focus{
  outline: none;
}
.btn2:hover{
  background-color: rgba(234,156,169,0.5);
}
.send{
  float: left;
  height: 50px;
  width: 70%;
  background-color: white;
  border-radius: 25px;
  border: 1px solid rgba(169,169,169);
  margin-top: 20px;
  margin-left: 15%;
  font-size: 30px;

}
.send p{
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 0px;
  height: 100%;
  font-weight: lighter;
}
a.send{
  color: black;
  text-decoration: none;
  color: black;
}
a.send:hover{
  background-color: rgba(240,245,185,0.5);
}
